.store {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: end;
    height: 80px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}